version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: springdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    image: springboot-api
    container_name: springboot-api
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      JWT_SECRET: super_secret_cloud_ready_123456789012345

volumes:
  pgdata:
