server:
  port: 8080

spring:
  application:
    name: springboot-api

  datasource:
    url: jdbc:h2:file:./data/testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

resilience4j:
  ratelimiter:
    instances:
      authLimiter:
        limit-for-period: 5
        limit-refresh-period: 1m
        timeout-duration: 0

jwt:
  secret: ${JWT_SECRET:my_super_secret_key_which_is_at_least_32_chars_long_123456}
