spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: ${DATABASE_URL}
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view : false
    hibernate:
      ddl-auto: update
    show-sql: false

  h2:
    console:
      enabled: false

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}
